<mat-card class="product-card">
    <mat-card-header class="product-card-title">
      <mat-card-title class="product-name">{{productName}}</mat-card-title>
    </mat-card-header>
    <img class="product-img" mat-card-image [src]="productImage" alt="Photo of a {{productName}}" (click)="openDialog()"> 
    <mat-card-content>
      <p>
        Price: ${{productPrice}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      @if(loginGuard() == 'CLIENT'){
      <button mat-button (click)="openDialogAddComment()" >Comment</button>
      }
      <button mat-button>BUY</button>
      <button mat-button (click)="openDialog()">DETAILS</button>
    </mat-card-actions>
</mat-card>