<mat-toolbar class="navbar">
    <button mat-icon-button class="menu-icon" aria-label="Icon-button with menu icon" (click)="toggleDrawer()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="navbar-title">Nerdy Nest</span>
    <span class="example-spacer"></span>
    @if(loginGuard() == 'DEFAULT' || loginGuard() == 'CLIENT'){
    <button mat-icon-button class="shopping-cart-icon" aria-label="Shopping-cart-button with shopping-cart icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    }
    @if(loginGuard() == 'DEFAULT'){
      <button mat-icon-button class="init-sesion-icon" aria-label="Init-sesion-button with share icon" routerLink="/login">
        <mat-icon>account_circle</mat-icon>
      </button>
    }
    @if(loginGuard() !== 'DEFAULT'){
      <button mat-icon-button (click)="logout()" class="close-icon" aria-label="Close-button with share icon">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    }
</mat-toolbar>

<mat-drawer-container class="menu-container">

  <mat-drawer #drawer mode="push">
    
    <h6 mat-dialog-title class="menu-title">
      Menu
      <button mat-icon-button class="close-icon" (click)="toggleDrawer()" aria-label="close-button with share icon">
        <mat-icon>close</mat-icon>
      </button>
    </h6>

    <mat-nav-list>
      @if(loginGuard() == 'CLIENT' || loginGuard() == 'DEFAULT' ){

        <a mat-list-item (click)="toggleDrawer()" [routerLink] = "['client/products']">All products</a>
        <a mat-list-item (click)="toggleDrawer()">Mouses</a>
        <!--Icono de mouse
        <mat-icon class="icon-item">mouse</mat-icon>
        -->
        
        <a mat-list-item (click)="toggleDrawer()">Keyboards</a>
        <a mat-list-item (click)="toggleDrawer()">Monitors</a>
        <a mat-list-item (click)="toggleDrawer()">Motherboards</a>
      }
      @if(loginGuard() == 'CLIENT'){
        <a mat-list-item (click)="toggleDrawer()" [routerLink] = "['']">Comments</a>
      }

      @if(loginGuard() == 'ADMIN'){
        <a mat-list-item (click)="adminAddProduct()" [routerLink] = "['admin/products']">Add products</a>
        <a mat-list-item (click)="adminAddBrand()" [routerLink] = "['admin/products']">Add brands</a>
      }
    </mat-nav-list>

  </mat-drawer>

  <mat-drawer-content>
    <!--Llamando al contenido-->
    <router-outlet></router-outlet>
      
  </mat-drawer-content>
</mat-drawer-container>