<mat-toolbar class="navbar">
    <button mat-icon-button class="menu-icon" aria-label="Icon-button with menu icon" (click)="toggleDrawer()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Nerdy Nest</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="shopping-cart-icon" aria-label="Shopping-cart-button with shopping-cart icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-icon-button class="init-sesion-icon" aria-label="Init-sesion-button with share icon" routerLink="/login">
      <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>

<mat-drawer-container class="menu-container">

  <mat-drawer #drawer mode="push">
    
    <h6 mat-dialog-title class="menu-title">
      Menu
      <button mat-icon-button class="close-icon" (click)="toggleDrawer()" aria-label="close-button with share icon">
        <mat-icon>close</mat-icon>
      </button>
    </h6>

    <mat-nav-list>
      <a mat-list-item routerLink="/products" (click)="toggleDrawer()">All products</a>
      <a mat-list-item class="option-item" routerLink="" (click)="toggleDrawer()">Mouses</a>
        <!--Icono de mouse
          <mat-icon class="icon-item">mouse</mat-icon>
        -->
        
      <a mat-list-item routerLink="" (click)="toggleDrawer()">Keyboards</a>
      <a mat-list-item routerLink="" (click)="toggleDrawer()">Monitors</a>
      <a mat-list-item routerLink="" (click)="toggleDrawer()">Motherboards</a>
    </mat-nav-list>

  </mat-drawer>

  <mat-drawer-content>
    <!--Llamando al contenido-->
    <router-outlet></router-outlet>
      
  </mat-drawer-content>
</mat-drawer-container>